package snippet;

public class Snippet {
	:root {
	  --jumbotron-padding-y: 3rem;
	}
	
	.jumbotron {
	  padding-top: var(--jumbotron-padding-y);
	  padding-bottom: var(--jumbotron-padding-y);
	  margin-bottom: 0;
	  background-color: #fff;
	}
	@media (min-width: 768px) {
	  .jumbotron {
	    padding-top: calc(var(--jumbotron-padding-y) * 2);
	    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	  }
	}
	
	.jumbotron p:last-child {
	  margin-bottom: 0;
	}
	
	.jumbotron-heading {
	  font-weight: 300;
	}
	
	.jumbotron .container {
	  max-width: 40rem;
	}
	
	footer {
	  padding-top: 3rem;
	  padding-bottom: 3rem;
	}
	
	footer p {
	  margin-bottom: .25rem;
	}
	
	.css img{
 float: left;
 width: 15%;
 border: thin solid;
 padding: 5px;
 margin: 0px 10px 10px 0;
}
body{
	background: url(https://i.imgur.com/QGCTmKL.jpg);
}

}



